# Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/
dist/
web-build/
credentials.json
*.apk
*.aab
*.ipa
*.app

# Variáveis de ambiente
.env
.env.local
.env.desenv
.env.homol
.env.prehom
.env.prod

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
Thumbs.db

# Build outputs
build/
builds/
android/app/build/
ios/build/
*.jsbundle
*.map

# Cache
.expo/cache/
.cache/
.parcel-cache/

# Logs
logs/
*.log
metro.config.js.local

# Coverage
coverage/
*.lcov

# Arquivos Keystore
*.jks


# Arquivos temporários criados pelo Metro
.metro-health-check*

# Temporários
*.tmp
*.temp

# Firebase config files (not for versioning)
dev/configs/google-services.json
dev/configs/GoogleService-Info.plist
